section{
    display: grid;
    grid-template-columns: 350px;
    width: 400px;
}
.dropZone{
    display: flex;
    align-items: center;
    width: 250px;
    height: 100px;
    background-color: tomato;
    margin: 10px auto;
    padding: 30px;
    box-sizing: border-box;
}
.white{
    width: 150px;
    height: 50px;
    background-color: whitesmoke;
}
.drag-start{
    color: lawngreen;
    font-size: 20px;
    border: 2px solid lightgreen;
    background-color: lightskyblue;
}
.zone{
    background-color: palevioletred;
}